.Content {
  background-color: white;
  width: 100%;

  .Content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;

    .Content-tabs {
      margin: 0;
      padding: 0;


      .Content-tabs-navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .tab-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          //height: 100%;
          padding: 50px;
          border: none;
          outline: none;
          //background-color: red; // debug


          img {
            padding-bottom: 25px;
          }

          h2, h3 {
            padding: 0;
            margin: 0;
            font-size: 27px;
            font-weight: 300;
          }

          h3 {
            font-size: 24px;
          }
        }


      }


      .Content-tabs-tabcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 50px 0;
        border-style: solid;
        border-color: #dadada;
        border-width: 1px;
        width: 100%;


        .Content-tabs-tabcontent-logo {
          width: 75%;
          align-self: center;
        }

        .Content-tabs-tabcontent-title {
          padding: 0 50px;
          font-size: 36px;
        }

        .Content-tabs-tabcontent-text {
          padding: 0 50px;
        }
      }



    }
    .Content-features {
      display: flex;
      flex-direction: row;
      align-items: center;
      //justify-content: center;
      padding-top: 22px;
      padding-bottom: 55px;
      border-bottom: 1px solid #dadada;

      .Content-features-screenshot {
        width: 60%;

      }

      .Content-features-description {
        padding-left: 25px;
      }
    }
  }
}