.Content {
  background-color: white;
  width: 100%;

  .Content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 0 auto;

    .Content-features {
      display: flex;
      flex-direction: row;
      align-items: center;
      //justify-content: center;
      padding-top: 22px;
      padding-bottom: 55px;
      border-bottom: 1px solid #dadada;

      .Content-features-screenshot {
        width: 60%;

      }

      .Content-features-description {
        padding-left: 25px;
      }
    }
  }
}