.input-box {
  width: 470px;
  height: 80px;
  padding: 15px 28px;
  border-radius: 8px;
}

.Footer {
  min-width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .Footer-login {
    display: flex;
    flex-direction: column;
    background-color: #e67624;


    .Footer-login-description {
      font-size: 32px;
      padding-bottom: 25px;
    }
    .Footer-login-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      #Footer-login-input-username {

      }

      #Footer-login-input-password {

      }

      #Footer-login-input-submit {

      }
    }
  }

  .Footer-subscribe {
    display: flex;
    flex-direction: column;
    background-color: #01d4f3;


    .Footer-subscribe-description {
      font-size: 32px;
      padding-bottom: 25px;
    }
    .Footer-subscribe-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      #Footer-subscribe-email {

      }

      #Footer-subscribe-submit {

      }

    }
  }
}