.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .Navbar-sitetitle {
    font-size: 118px;
    font-family: "Calibri Light";
    font-style: italic;
    padding-left: 220px;
    color: white;
  }

  .Navbar-menu {
    display: flex;
    flex-direction: row;
    padding-right: 175px;

    .Navbar-menu-item {
      padding: 0 15px;
      color: #fff;
      text-decoration: none;

      &:hover {
        color: gold;
      }
    }
  }
}