.Slider {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .Slider-button-previous {
    display: block;
    height: 80px;
    width: 80px;
    margin-left: 55px;
    //background-color: #dadada; // make transparent
    background-color: transparent;
    background-image: url("../img/arrow-left.svg");
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }

  .Slider-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .Slider-content-leftbar {
      padding-right: 72px;

      img {
        max-width: 329px;
        max-height: 329px;
      }
    }

    .Slider-content-rightbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #ffffff;

      h1 {
        padding: 0;
        margin: 0;
        font-size: 45px;
        font-weight: 400;
      }

      h2 {
        padding: 0;
        margin: 0;
        font-size: 45px;
      }

      #try_demo {
        padding: 10px 26px 5px 19px;
        font-size: 23px;
        outline: none;
        border: 4px solid rgba(0, 0, 0, 0.4);
        opacity: 0.42;
        background-color: #12b367;
      }
    }

  }

  .Slider-button-next {
    display: block;
    height: 80px;
    width: 80px;
    margin-right: 55px;
    //background-color: #dadada; // make transparent
    background-color: transparent;
    background-image: url("../img/arrow-left.svg");
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    border: none;
    outline: none;
  }


}
