.tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  //height: 100%;
  padding: 25px;
  //border: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  outline: none;

  &:focus {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-top: 1px solid #dadada;
  }


  img {
    padding-bottom: 25px;
  }

  h2, h3 {
    padding: 0;
    margin: 0;
    font-size: 27px;
    font-weight: 300;
  }

  h3 {
    font-size: 24px;
  }
}